<form method='post' action='/new'>
    <legend>Message form</legend>
    <div class="name">
        <label for="name">Name: </label>
        <input type="text" name='name' />
    </div>
    <div class="message">
        <label for="message">Message</label>
        <input type="text" name='message'/>
    </div>
    <button type="submit">Submit</button>
</form>
