<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <h1>Messages</h1>
        <ul>
            <% messages.forEach(msg => { %>
            <li>
                <strong> <% if (user) { %> <%= msg.username %> <% } else { %> Anonymous <% } %> </strong>
                : <%= msg.content %>
            </li>
            <% }) %>
        </ul>

    </body>
</html>
